services:
  payment-service:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - PAYMENT_SERVICE_PORT=${PAYMENT_SERVICE_PORT}
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_DATABASE=${MONGODB_DATABASE}
      - CORE_SERVICE_URL=${CORE_SERVICE_URL}
      - OPERATION_SERVICE_URL=${[OPERATION]_SERVICE_URL}
      - MERCADO_PAGO_ACCESS_TOKEN=${MERCADO_PAGO_ACCESS_TOKEN}
      - MERCADO_PAGO_SELLER_APP_USER_ID=${MERCADO_PAGO_SELLER_APP_USER_ID}
      - MERCADO_PAGO_EXTERNAL_POS_ID=${MERCADO_PAGO_EXTERNAL_POS_ID}
      - PUBLIC_URL=${PUBLIC_URL}
      - WEBHOOK_URL=${WEBHOOK_URL}
    ports:
      - "8082:8082"
    volumes:
      - ./:/app
    networks:
      - payment-network

networks:
  payment-network:
    driver: bridge